body {
    font-family: Arial, sans-serif;
    background: #e8f0ff;
    margin: 0;
    padding: 20px;
}
.container {
    width: 450px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
h1 {
    text-align: center;
    color: #004e92;
    margin-bottom: 15px;
}
#student-form {
    display: flex;
    gap: 10px;
}
#student-form input {
    flex: 1;
    padding: 10px;
    border: 2px solid #004e92;
    border-radius: 5px;
}
#student-form button {
    padding: 10px 15px;
    background: #004e92;
    color: white;
    border: none;
    border-radius: 5px;
}
#student-form button:hover {
    background: #133c72;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
#search {
    width: 65%;
    padding: 10px;
    border: 2px solid #004e92;
    border-radius: 5px;
}
.student-list {
    list-style-type: none;
    padding: 0;
}
.student-item {
    background: #f0f6ff;
    padding: 12px;
    border: 1px solid #ccdfff;
    border-radius: 7px;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}
.student-item:hover {
    background: #d9e9ff;
}
.btn-edit, .btn-delete {
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}
.btn-edit {
    color: blue;
}
.btn-delete {
    color: red;
}
.highlight {
    background-color: yellow !important;
}
